Module4Activity4Client/xml-resources/web-service-references/BookWebService/wsdl/localhost_8084/Module4Activity4/BookWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servs/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servs/" name="BookWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://servs/" schemaLocation="http://localhost:8084/Module4Activity4/BookWebService?xsd=1" />
</xsd:schema>
</types>
<message name="AddBook">
<part name="parameters" element="tns:AddBook" />
</message>
<message name="AddBookResponse">
<part name="parameters" element="tns:AddBookResponse" />
</message>
<message name="GetBooks">
<part name="parameters" element="tns:GetBooks" />
</message>
<message name="GetBooksResponse">
<part name="parameters" element="tns:GetBooksResponse" />
</message>
<message name="GetBookInfo">
<part name="parameters" element="tns:GetBookInfo" />
</message>
<message name="GetBookInfoResponse">
<part name="parameters" element="tns:GetBookInfoResponse" />
</message>
<portType name="BookWebService">
<operation name="AddBook">
<input wsam:Action="http://servs/BookWebService/AddBookRequest" message="tns:AddBook" />
<output wsam:Action="http://servs/BookWebService/AddBookResponse" message="tns:AddBookResponse" />
</operation>
<operation name="GetBooks">
<input wsam:Action="http://servs/BookWebService/GetBooksRequest" message="tns:GetBooks" />
<output wsam:Action="http://servs/BookWebService/GetBooksResponse" message="tns:GetBooksResponse" />
</operation>
<operation name="GetBookInfo">
<input wsam:Action="http://servs/BookWebService/GetBookInfoRequest" message="tns:GetBookInfo" />
<output wsam:Action="http://servs/BookWebService/GetBookInfoResponse" message="tns:GetBookInfoResponse" />
</operation>
</portType>
<binding name="BookWebServicePortBinding" type="tns:BookWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="AddBook">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetBooks">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetBookInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="BookWebService">
<port name="BookWebServicePort" binding="tns:BookWebServicePortBinding">
<soap:address location="http://localhost:8084/Module4Activity4/BookWebService" />
</port>
</service>
</definitions>